:root {
    background-color: #111;
}

ol {
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
button {
  border: 1px solid #777;
  background-color: transparent;
  color: #aaa;
  font-family: inherit;
  padding: 3;
  cursor: pointer;
}

button:focus,
button:active:focus,
button.active:focus,
button.focus,
button:active.focus,
button.active.focus {
    outline: none !important;
}

html, body, #app {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #111;
}

body {
    margin: 0;
    padding: 0;
    position: absolute;
}

body, input {
    font: menu;
    color: #ddd;
}
.root {
    height: 100%;
    width: 100%;
    display: flex;
}

.root > * {
    flex: 1 100%;
}

.overview {
    flex: 0 0 auto;
    height: 100%;
    width: 140px;
    background-color: #333;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.overview ol {
    display: flex;
    padding: 20px;
    flex-flow: row wrap;
    justify-content: start;
    overflow: hidden;
}

.overview li {
    display: block;
    width: 2rem;
    height: 3rem;
    margin: 0.5rem;
    padding: 0.25rem;
    text-align: right;
    color: #777;
    background-color: #444;
}
.overview li:first-child {
    border: dashed #444 2px;
    background-color: #333;
    color: #333;
}
.overview li.current {
    color: #aaa;
    border: solid 1px #aaa;
}

/*.page {                     */
/*    background-color: white;*/
/*}                           */

svg {
    background-color: #eee;
}
.spread {
    margin: 15px;
    display: flex;
}

.tools {
    background-color: #222;
    color: #ccc;
}
.tools .current {
    background-color: #ccc;
    color: #222;
}
