:root {
    background-color: #111;
}
ol {
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body, #app {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #111;
}

body {
    margin: 0;
    padding: 0;
    position: absolute;
}

body, input {
    font: menu;
    color: #ddd;
}
.root {
    height: 100%;
    width: 100%;
    display: flex;
}

.root > * {
    flex: 1 100%;
}

.overview {
    flex: 0 0 auto;
    height: 100%;
    width: 140px;
    background-color: #333;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.overview ol {
    display: flex;
    padding: 20px;
    flex-flow: row wrap;
    justify-content: start;
    overflow: hidden;
}

.overview li {
    display: block;
    width: 2rem;
    height: 3rem;
    margin: 0.5rem;
    padding: 0.25rem;
    text-align: right;
    color: #777;
    background-color: #444;
}
.overview li:first-child {
    border: dashed #444 2px;
    background-color: #333;
    color: #333;
}
.overview li.current {
    color: #aaa;
    border: solid 1px #aaa;
}

.page {
    background-color: white;
}

.page svg {background-color: #eee;}
